<ion-header>
  <ion-toolbar>
    <ion-title>qr-scanner</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <!-- <ion-button><ion-icon name="arrow-back" slot="icon-only"></ion-icon></ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <h5>Scan Your code here</h5>
    <ion-button expand="block" fill="outline" (click)="scan()">Scane QR code</ion-button>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-list-header>Scan Data</ion-list-header>
<ion-item>
  <ion-label slot="start" class="ion-text-wrap"><b>{{data?.text}}</b></ion-label>
  <ion-text slot="end">{{data?.format}}</ion-text>
</ion-item>
</ion-list>
</ion-content>
