<ion-header>
  <ion-toolbar>
    <ion-title>Google chart</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="pieChart-div" style="padding:10px"></div>
  <br><br>
  <div id="donutChart-div" style="padding:10px"></div>
  <br><br>
  <div id="barChart-div" style="padding:10px"></div>
  <br><br>
  <div id="stackbarChart-div" style="padding:10px"></div>
  <br><br>
  <div id="stackColumnChart-div" style="padding:10px"></div>
  <br><br>
  <div id="columnChart-div" style="padding:10px"></div>
</ion-content>
